<app-list-departments></app-list-departments>
<div>
    <ul>
        <li *ngIf="isLogged()" (click)="logout()">
            <a class="btn btn-default">logout</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isLogged()" >
            <a class="btn btn-default " routerLink="/auth/login/">login</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isLogged()" >
            <a class="btn btn-default" routerLink="/auth/register/">register</a>
        </li>
        <li routerLinkActive="active" *ngIf="isLogged()" >
                <a class="btn btn-default" (click)="getValues()">get Values</a>
            </li>
    </ul>
</div>