<div class="checkout_details_area">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="Name" [placeholder]="translate('productName')" class="form-control">
      <span style="color:red" *ngIf="!productForm.get('Name').valid && productForm.get('Name').touched">
        <span *ngIf="productForm.get('Name').errors['required']">{{'fieldRequired'|translate}}</span>
        <span *ngIf="productForm.get('Name').errors['minlength']">{{'minLength'|translate}}</span>
      </span>
    </div>
    <div class="form-group">
      <input type="text" formControlName="NameAr" [placeholder]="translate('productNameAr')" class="form-control">
      <span style="color:red" *ngIf="!productForm.get('NameAr').valid && productForm.get('NameAr').touched">
        <span *ngIf="productForm.get('NameAr').errors['required']">{{'fieldRequired'|translate}}</span>
        <span *ngIf="productForm.get('NameAr').errors['minlength']">{{'minLength'|translate}}</span>
      </span>
    </div>
    <div class="form-group">
      <textarea type="text" formControlName="Description" [placeholder]="translate('description')" class="form-control"></textarea>
      <span style="color:red" *ngIf="!productForm.get('Description').valid && productForm.get('Description').touched">
        <span *ngIf="productForm.get('Description').errors['required']">{{'fieldRequired'|translate}}</span>
        <span *ngIf="productForm.get('Description').errors['minlength']">{{'minLength'|translate}}</span>
      </span>
    </div>

    <div class="form-group">
      <textarea type="text" formControlName="DescriptionAr" [placeholder]="translate('descriptionAr')" class="form-control"></textarea>
      <span style="color:red" *ngIf="!productForm.get('DescriptionAr').valid && productForm.get('DescriptionAr').touched">
        <span *ngIf="productForm.get('DescriptionAr').errors['required']">{{'fieldRequired'|translate}}</span>
        <span *ngIf="productForm.get('DescriptionAr').errors['minlength']">{{'minLength'|translate}}</span>
      </span>
    </div>

    <div class="form-group">
      <input type="number" formControlName="Price" [placeholder]="translate('price')" class="form-control">
      <span style="color:red" *ngIf="!productForm.get('Price').valid && productForm.get('Price').touched">
        <span *ngIf="productForm.get('Price').errors['required']">{{'fieldRequired'|translate}}</span>
      </span>
    </div>
    <div class="form-group">
      <input type="file" (change)="onFileChange($event)" class="form-control" />
      <div *ngIf="productForm.get('Picture').value" style="width: 100px;height: 100px;">
        <img [src]="productForm.get('Picture').value" class="img img-responsive" style="width: 100%;height: 100%;" />
      </div>
      <span style="color:red" *ngIf="!productForm.get('Picture').valid && productForm.get('Picture').touched">
        <span *ngIf="productForm.get('Picture').errors['required']">{{'fieldRequired'|translate}}</span>
      </span>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-template-outlined" [disabled]="productForm.invalid" [value]="editMode?(translate('edit')):(translate('add'))">
      <input *ngIf="editMode" type="button" class="btn btn-danger" (click)="delete()" [value]="translate('delete')">
    </div>
  </form>
</div>
