<div class="single-product-area section-padding-100 clearfix" *ngIf="product">
  <div class="container-fluid">


    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <div id="product_details_slider" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <a class="gallery_img">
                  <img class="d-block w-100" [src]="product.picture?product.picture:'./../../assets/img/empty.png'" alt="First slide">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price">{{'le'|translate}} {{product.price}}</p>
            <a>
              <h6>{{lang=='en'?product.name:product.nameAr}}</h6>
            </a>
            <!-- Ratings & Review -->
            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
              <div class="ratings">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>

            </div>
            <!-- Avaiable -->
            <!--<p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>-->
          </div>
          <div class="short_overview my-5">
            
            <p>{{lang=='en'?product.description:product.descriptionAr}}</p>
          </div>
          <div *ngIf="isLogged()">
            <a (click)="navigateToEdit()" class="btn"><span class="fa fa-edit"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
