
  <form [formGroup]="departmentForm" (ngSubmit)="submitForm()" >
    <div class="form-group">
      <input type="text" formControlName="departmentName"  placeholder="department" class="form-control">
      <span style="color:red" *ngIf="!departmentForm.get('departmentName').valid && departmentForm.get('departmentName').touched">
        <span *ngIf="departmentForm.get('departmentName').errors['required']" >This Field Is Required</span>
        <span *ngIf="departmentForm.get('departmentName').errors['minlength']" >Min Department Name Length Must be 3 at Least</span>
      </span>
    </div>
    <input type="submit" [disabled]="!departmentForm.valid" class="btn btn-primary" value="add">
    <span *ngIf="id!=null">
      {{id}}
    </span>
  </form>
