<div *ngIf="departmentGuid" class="single-products-catagory clearfix">
  <a style="cursor:pointer" (click)="navigateToAdd()">
    <img style="" src="./../../assets/img/empty.png" alt="">
    <div class="hover-content">
      <h1><span class="fa fa-plus"></span></h1>

    </div>
  </a>
</div>

<div *ngFor="let product of products" class="single-products-catagory clearfix">
  <a style="cursor:pointer" (click)="navigateToProduct(product)">
    <img style="" [src]="product.picture?product.picture:'./../../assets/img/empty.png'" alt="">
    <!-- Hover Content -->
    <div class="hover-content">
      <div class="line"></div>
      <p>LE {{product.price}}</p>
      <h4>{{product.name}}</h4>
      <p (click)="editProduct(product)" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span></p>
      <p (click)="removeProduct(product.guid)" style="cursor:pointer"><span class="glyphicon glyphicon-remove"></span></p>
    </div>
  </a>
</div>
<div *ngIf="!endOfProducts"  class="single-products-catagory clearfix">
  <a style="cursor:pointer" (click)="next()">
    <img style="" src="./../../assets/img/empty.png" alt="">
    <!-- Hover Content -->
    <div class="hover-content">
      <h1>...</h1>

    </div>
  </a>
</div>

