.checkout_details_area {
  padding: 20px;
}

  .checkout_details_area .form-group, .checkout_details_area input, .checkout_details_area textarea, .checkout_details_area label {
    margin: 10px;
  }

input.ng-invalid.ng-touched {
  border-color: red;
}
