
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 11/29/2018 3:28:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NULL,
	[ModificationDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/29/2018 3:28:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NULL,
	[ModificationDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[ParentDepartmentId] [bigint] NULL,
	[DeptName] [nvarchar](max) NULL,
	[DeptNameAr] [nvarchar](max) NULL,
	[NumberOfProducts] [int] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Owners]    Script Date: 11/29/2018 3:28:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NULL,
	[ModificationDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Owners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/29/2018 3:28:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NULL,
	[ModificationDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[DepartmentId] [bigint] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NameAr] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DescriptionAr] [nvarchar](max) NULL,
	[PictureContent] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Rate] [real] NOT NULL,
	[Likes] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181121092753_init', N'2.1.4-rtm-31024')
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181121101911_AppUser', N'2.1.4-rtm-31024')
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181121104713_nullableAUDIT', N'2.1.4-rtm-31024')
GO
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

GO
INSERT [dbo].[AppUsers] ([Id], [Guid], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsActive], [Username], [Password], [Mail]) VALUES (4, N'32b38a4e-d5fc-4fff-b181-f1ced7cecc89', NULL, NULL, NULL, NULL, 1, N'mostavaa', N'hamedp@ssw0rd', N'mos.hamed@hotmail.com')
GO
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

GO
INSERT [dbo].[Departments] ([Id], [Guid], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsActive], [ParentDepartmentId], [DeptName], [DeptNameAr], [NumberOfProducts]) VALUES (1, N'a3f9be7c-96f9-4197-9ae4-91ab2e3387b0', CAST(N'2018-11-21 13:51:44.9537426' AS DateTime2), NULL, NULL, NULL, 1, NULL, N'azya2', N'ازياء', 0)
GO
INSERT [dbo].[Departments] ([Id], [Guid], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsActive], [ParentDepartmentId], [DeptName], [DeptNameAr], [NumberOfProducts]) VALUES (2, N'ba64e3a0-9f15-4fe2-b969-100b5794b8c1', CAST(N'2018-11-21 14:01:23.4183448' AS DateTime2), NULL, NULL, NULL, 1, NULL, N'azya2 rgali', N'ازياء رجالي', 0)
GO
INSERT [dbo].[Departments] ([Id], [Guid], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsActive], [ParentDepartmentId], [DeptName], [DeptNameAr], [NumberOfProducts]) VALUES (3, N'5dba0861-65d0-411d-a038-586e45f8bc94', CAST(N'2018-11-21 14:03:24.6399247' AS DateTime2), NULL, NULL, NULL, 1, NULL, N'7remi', N'ازياء حريمي', 0)
GO
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_Departments_ParentDepartmentId]    Script Date: 11/29/2018 3:28:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Departments_ParentDepartmentId] ON [dbo].[Departments]
(
	[ParentDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_DepartmentId]    Script Date: 11/29/2018 3:28:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_DepartmentId] ON [dbo].[Products]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Departments_ParentDepartmentId] FOREIGN KEY([ParentDepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Departments_ParentDepartmentId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Departments_DepartmentId]
GO