<!-- <div *ngIf="canAdd"  class="row">
    <a (click)="addProduct()" class="btn btn-info" style="cursor:pointer"><span class="glyphicon glyphicon-plus"></span></a> 
</div>
<div class="clear"></div>
<div class="container">
  <div id="products" class="row list-group">

      <div  *ngFor="let item of products" class="item  col-xs-4 col-lg-4">
          <div class="thumbnail">
              <img style="cursor:pointer"  class="group list-group-image" [src]="item.PicturePath" alt="" />
              <div class="caption">
                  <h4 style="cursor:pointer" (click)="navigateToProduct(item.guid)" class="group inner list-group-item-heading">
                      {{item.Name}}</h4>
                  <p class="group inner list-group-item-text">
                      {{item.Description}}</p>
                  <div class="row">
                      <div class="col-xs-12 col-md-6">
                          <p class="lead">
                              LE {{item.Price}}</p>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                      </div>
                  </div>
                  <div class="row">
                    <a (click)="editProduct(item)" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span></a> 
                    <a (click)="removeProduct(item.guid)" style="cursor:pointer"><span class="glyphicon glyphicon-remove"></span></a> 
                  </div>
              </div>
          </div>
      </div>

  </div>

</div> -->


<!-- Single Catagory -->
<div *ngFor="let item of products" class="single-products-catagory clearfix">
    <a (click)="navigateToProduct(item.guid)">
        <img style="" [src]="item.PicturePath" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <p>LE {{item.Price}}</p>
            <h4>{{item.Name}}</h4>
            <p (click)="editProduct(item)" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span></p>
            <p (click)="removeProduct(item.guid)" style="cursor:pointer"><span class="glyphicon glyphicon-remove"></span></p>
        </div>
    </a>
</div>

<div class=" clearfix">
    <a>
        <!-- Hover Content -->
        <div class="hover-content">
            <button class="buttonload btn btn-primary" style="cursor:pointer" [disabled]="page == pagesCount" (click)="getMore()">
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i> More
            </button>
        </div>
    </a>
</div>
