<!-- Sidebar 
<div id="sidebar-wrapper">

  <ul class="sidebar-nav">
    <li class="sidebar-brand" routerLinkActive="active">
      <a routerLink="/home">
        Clothes Ad
      </a>
    </li>
    <li routerLinkActive="active"><a routerLink="/customers">Customer</a></li>
    <li routerLinkActive="active" *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
    <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></li>
  </ul>

</div>
 /#sidebar-wrapper -->

<!-- Close Icon -->
<div class="mobile-nav">
  <!-- Navbar Brand -->
  <div class="amado-navbar-brand">
    <a><img src="/src/assets/img/core-img/logo.png" alt=""></a>
  </div>
  <!-- Navbar Toggler -->
  <div (click)="toggleMenu()" class="amado-navbar-toggler">
    <span></span><span></span><span></span>
  </div>
</div>
<header [ngClass]="{ 'bp-xs-on':showNav}" class="col-md-4 header-area clearfix">
  <div (click)="hideNav()" class="nav-close">
    <i class="fa fa-close" aria-hidden="true"></i>
  </div>
  <!-- Logo -->
  <div class="logo">
    <a><img src="/src/assets/img/core-img/logo.png" alt=""></a>
  </div>
  <!-- Amado Nav -->
  <nav class="amado-nav">
    <ul>

      <app-departments></app-departments>
    </ul>
  </nav>
</header>